@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');
body{
    background-color: rgba(128, 128, 128, 0.47);
}

figure{
    margin: 0;
}
#menu p{
    display: inline-block;
    background-color: gray;
    text-align: center;
}

strong{
    color: black;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
}
em{
    color: #507297;
}
#capa1{
    background-image: url("../img/aretha.jpg");
   position: fixed;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

#capa1:hover{
    background-image: url("../img/aretha.jpg");
    position: fixed;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: auto;
    transition: 1s;
}

#capa11{
    position: fixed;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 255, 0.31);
}

#capa2{
    background-image: url("../img/diana.jpg");
    position: fixed;
    width: 25%;
    height: 100%;
    left: 25%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;

}
#capa2:hover{
    background-size: auto;
    transition: 1s;
}
#capa3:hover{
    background-size: auto;
    transition: 1s;
}

#capa4:hover{
    background-size: auto;
    transition: 1s;
}
#capa22{
    position: fixed;
    width: 25%;
    height: 100%;
    left: 25%;
    top: 0;
    background-color: rgba(0, 0, 255, 0.31);
}
.titulos h1{
    font-family: "Lobster",cursive;
    font-size: 2em;
}
.titulos h2{
    font-family: "Lobster",cursive;
    font-size: 1em;
}

#titulo{
    position:absolute;
    z-index:20;
    left:0;
    top:0;
    width:100%;
    height:150px;

}

#titulo h1 {
    font-family: "Lobster",cursive;
    font-weight: 400;
    font-size: 130px;
    margin:0;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px white;
}

main p{

    text-align:center;
}
#capa3{
    background-image: url("../img/dionne.jpg");
    position: fixed;
    width: 25%;
    height: 100%;
    left: 50%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;

}
#capa33{
    position: fixed;
    width: 25%;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: rgba(255, 0, 153, 0.31);
}

#capa44{
    position: fixed;
    width: 25%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 153, 255, 0.31);
}


#capa4{
    background-image: url("../img/etta.jpg");
    position: fixed;
    width: 25%;
    height: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}



.titulos{
    width: 990px;
    background-color: #f7f7f7;
    margin: auto;
    padding-bottom: 10%;
}
main{
    margin: auto;
    width: 990px;


}
#menu{
    margin-top: 2%;
    width: 990px;
    background-color: gray;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;

}
#menu p{
    padding-left: 10%;
    color: white;
    font-size: 1em;
}
#menu:hover p {
    color: black;
}

main::first-letter{
    font-size: 8em;
    font-family: "Lobster",cursive;

}

aside{
    font-size: 3em;
    width: 100%;
    font-family: "Lobster",cursive;
    font-weight: 100;
    text-align: center;
}
figure img{
display: none;
}
h1,h2{
    margin: 0;
    text-align: center;
}
figure{
    position: absolute;
    background-image: url("../img/aretha.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
    top: 5%;
    left: 60%;

}